{% extends 'snippets/base.html' %}

{% block hero_content %}

<div class="col-sm-9" style="border-style:solid;">
  <h4>Registered Student List </h4> <a href="{% url 'student:add_student' %}" class="btn btn-primary">Register New Student</a>
  <hr>
  <div class="row p-2">

      <div class="col-sm-8">
        <ul style="list-style-type:none;">
          {% for student in students %}
            <li><a href="{% url 'student:student_detail' student.id %}">{{student}}</a></li>
            <hr>
          {% endfor %}
        </ul>

      </div>

  </div>
</div>
{% endblock %}


