{% extends 'snippets/base.html' %}
{% load widget_tweaks %}

{% block hero_content %}

<div class="col-sm-3" >
</div>
<div class="col-sm-6" style="border-style:solid;">
    <h4>Create a book category</h4>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            {% render_field category_form.category_name class="form-control" placeholder="Title" %}
        </p>
        <!-- {{book_form.as_p}} -->
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>
<div class="col-sm-3" >
</div>
{% endblock %}
